node_modules/
npm-debug.log
yarn-error.log
/.next/
/out/
.vscode/
.idea/
*.iml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config.toml
logs/
*.log
/coverage/
.DS_Store
Thumbs.db